@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { scroll-behavior: smooth; }
  body { @apply font-sans text-dss-navy bg-white leading-relaxed; }
  h1, h2, h3 { @apply font-serif leading-tight; }
  a { text-decoration: none; }
  img { max-width: 100%; display: block; }
}
